@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import 'base/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-text-color;
}

img {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hamburger {
    display: none;
}

@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/footer';
@import 'base/media';